* {
    font-family: 'Crimson Text', serif;
}

body {
    background: #FFF9FB;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    background: #4B88A2;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: #FFF9FB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #D3D4D9;
    color: #BB0A21;
}

.active {
    background-color: #203b46;
    color: #252627;
}

.main-body h1 {
    text-align: center;
    color: #BB0A21;
    font-weight: normal;
    font-size: 6em;
}

.tagline *{
    text-align: center;
    color: #252627;
}

.tagline>h2, .tagline>h3{
    font-weight: normal;
}

.tagline>h2{
    font-size: 3em;
}

.tagline>h3{
    font-size: 1.5em;
}

hr.main-hr {
    width: 700px;
    color: #252627;
}

.main-text {
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.5em;
}