* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a.content-link {
	color: #05204A;
}

a.content-link:hover {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	color: #FFFFFF;
	background-color: #05204A;
	text-decoration: none;
}

body {
	background: #FFFFFF;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #05204A;
	font-family: 'Josefin Sans', sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	height: 57px;
	z-index: 99;
}

.main-body {
	font-family: 'Josefin Sans', sans-serif;
}

span.star:after{
	content: "\2605";
	display: inline-block;
	position: relative;
	top: -.15em;
	padding: 0 .25em;
	font-family: FontAwesome;
	color: #FFFFFF;
	font-size: .7em;
}

.navbar li {
	float: right;
}

hr.stars {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 800px;
	width: 90%;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}

hr.stars:after {
	content: "\2605";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
}

hr.stars {
	border-color: #05204A;
}

hr.stars:after {
	color: #05204A;
	background-color: #FFFFFF;
}

hr.stars.no-top {
	margin-top: -50px;
}

.navbar li a {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	display: block;
	background: #05204A;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

.navbar li a:hover:not(.active) {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	background: #FFFFFF;
	color: #BB0A21;
}

.navbar .active {
	background-color: #0a3d8f;
}

.main-body h1 {
	text-align: center;
	color: #BB0A21;
	font-weight: normal;
	font-size: 7em;
}

@media only screen and (max-width: 720px) {
	.nav-name {
		font-size: 1.2em !important;
	}
	.nav-name a {
		padding-top: 20px !important;
	}
}


@media only screen and (max-width: 625px) {
	.main-body h1 {
		font-size: 6em;
	}

	.card-body {
		padding: 30px !important;
	}

	.card-top>h2{
		font-size: 2.5em !important;
	}

	.card-top>h3{
		font-size: 1em !important;
	}

	.card-bottom{
		font-size: 2em !important;
	}

	.hide-on-mobile {
		display: none !important;
	}

}

@media only screen and (max-width: 345px) {
	.nav-name {
		display: none !important;
	}
}

.card-top {
	background: #05204A;
	padding: 20px 10px;
}

.card-top *{
	text-align: center;
}

.card-top>h2, .card-top>h3{
	font-weight: normal;
	color: #FFFFFF;
}

.card-top>h2{
	font-size: 3em;
}

.card-top>h3{
	font-size: 1.5em;
}

hr.main-hr {
	max-width: 700px;
	width: 80%;
	color: #252627;
}

.card-body {
	max-width: 800px;
	padding: 50px;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: 'Crimson Text', serif;
}

.hidden {
	display: none !important;
}

.hamburger:focus {
	outline-width: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before{
	background-color: #FFFFFF;
}

.slider-menu {
	position: fixed;
	height: 100%;
	width: 250px;
	top: 57px;
	background: #05204A;
	right: -250px;
	z-index: 99;
}

.slider-links {
	padding: 0;
	margin: 0;
}

.slider-menu .slider-link {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	list-style-type: none;
	padding: 5px 15px;
}

.slider-menu .slider-link>a {
	color: #FFFFFF;
	font-size: 1.5em;
	text-decoration: none; 
}

.slider-link.active {
	background: #0a3d8f;
}

.slider-link:hover:not(.active) {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	background-color: #FFFFFF;
}

.slider-link:hover:not(.active) a {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	color: #BB0A21;
}

.nav-name {
	display: inline;
	color: #FFFFFF;
	font-size: 1.6em;
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
}

.nav-name>a{
	padding: 17px 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	text-decoration: none;
	color: #FFFFFF
}

.card-bottom {
	text-align: center;
	font-size: 2em;
	background: #05204A;
	padding: 20px 10px;
	color: #FFFFFF;
}

.card {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	max-width: 800px;
	width: 90%;
	margin: 10px auto 100px;
	background: #FFFFFF;
}

.m-top-30 {
	margin-top: 30px;
}

.nav-container {
	height: 57px;
}

#contact * {
	font-family: 'Josefin Sans', sans-serif;
	font-size: .85em;
}

#contact {
	max-width: 400px;
	margin: 0 auto;
}

#contact fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	box-sizing : border-box;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #05204A;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: #0a3d8f;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.lquote {
	float: left;
	position: relative;
	top: 40px;
}

.rquote {
	float: right;
	position: relative;
	top: 50px;
}

.lquote,
.rquote {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 6em;
	color: #05204A;
}

span.italic{
	font-style: italic;
}

.quote-info {
	text-align: right;
	font-size: .9em;
	margin-top: 45px;
	margin-bottom: 30px;
	padding-right: 40px;
	line-height: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
}

figure#just-the-facts{
	text-align: center;
	margin-bottom: 80px;
}

#just-the-facts>img{
	max-width: 100%;
	width: 300px;
	height: auto;
}

figcaption {
	font-family: 'Josefin Sans', sans-serif;
	font-size: .8em;
	line-height: 1.5em;
}

.m-b-80 {
	margin-bottom: 80px;
}

.center {
	text-align: center;
}